{{> header}}
<div class="container">
<h1>{{title}}</h1>
    <p>
        В верхней части страницы находится меню с ссылками на три основных базы — Операции, Клиенты и Услуги.

        На этих страницах можно фильтровать, редактировать и удалять записи.
    </p>
</div>
{{> footer}}