{{> header}}
<div class="alert alert-success">
    {{title}}
</div>
<div class="mt-5">
    <a href="{{goback}}">
        <button type="button" class="btn btn-primary">Вернуться назад</button>
    </a>
</div>
{{> footer}}